@font-face {
  font-family: 'BinancePlex';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/BinancePlex-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'BinancePlex';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BinancePlex-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BinancePlex';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/BinancePlex-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BinancePlex';
  font-style: normal;
  font-weight: 600;
  src:
    local(BinancePlex),
    url('./fonts/BinancePlex-SemiBold.ttf') format('truetype');
}
